
body {
  font-family: Montserrat, Arial;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

.avq-blue{
	color: #2896cf;
}

.increase-padding{
	padding: 5px 0px;
}

/*Override navbar margin-bottom to 0*/
.navbar {
	margin-bottom: 0px;
}

.carousel-height{
	height: 500px;
}

.carousel-inner img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: 0% 0%;

}

.carousel-font{
	font-size: 3em;
	line-height: 100%;
}

.grad {
  background: #dedede; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(222,222,222,1),rgba(222,222,222,0)); /*Safari 5.1-6*/
  background: -o-linear-gradient(rgba(222,222,222,1),rgba(222,222,222,0)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(rgba(222,222,222,1),rgba(222,222,222,0)); /*Fx 3.6-15*/
  background: linear-gradient(rgba(222,222,222,1),rgba(222,222,222,0))); /*Standard*/
}

.bottom-container{
	height: 100px;
	background-color: #ededed;
}
.bottom-container button{
	padding: 15px;
}

.vcenter{
    margin: 25px;
}

.bottom-container2{
	background-color: #e6e6e6;
	height: 350px;

}

.bg-danger{
	color: #a94442;
}

.custom-width{
  width: 100%;
}

.footer{
  background-color: #2c3e50;
  height: 50px;
  margin-top: 299px;
}
.text-footer{
  color: #ebeff2;
  margin-top: 20px;
}